# GENERAL
.local
Thumbs.db
.DS_Store
node_modules
# /GENERAL


# OBSIDIAN VAULT
# Please check in the vault's .gitignore file.
# It was less confusing to have the vault's gitignore in there.
# That way internet recommendations of gitignore's work.
# Otherwise we'd have to prefix the examples with the vault path.


#
# QUARTZ - Obsidian SSG
# https://github.com/jackyzha0/quartz/blob/v4/.gitignore
#
public
prof
tsconfig.tsbuildinfo
quartz/.quartz-cache/
#.replit
#replit.nix
#
# /QUARTZ
#

#########################################################
#    ___                __                    _         #
#   / _ \_ __ ___  __ _/ _\_      _____  __ _| |_ ___   #
#  / /_\/ '__/ _ \/ _` \ \\ \ /\ / / _ \/ _` | __/ __|  #
# / /_\\| | |  __/ (_| |\ \\ V  V /  __/ (_| | |_\__ \  #
# \____/|_|  \___|\__, \__/ \_/\_/ \___|\__,_|\__|___/  # 
#                 |___/                                 #
#########################################################




########


#   ▄████  ██▀███  ▓█████   ▄████   ██████  █     █░▓█████ ▄▄▄     ▄▄▄█████▓  ██████ 
#  ██▒ ▀█▒▓██ ▒ ██▒▓█   ▀  ██▒ ▀█▒▒██    ▒ ▓█░ █ ░█░▓█   ▀▒████▄   ▓  ██▒ ▓▒▒██    ▒ 
# ▒██░▄▄▄░▓██ ░▄█ ▒▒███   ▒██░▄▄▄░░ ▓██▄   ▒█░ █ ░█ ▒███  ▒██  ▀█▄ ▒ ▓██░ ▒░░ ▓██▄   
# ░▓█  ██▓▒██▀▀█▄  ▒▓█  ▄ ░▓█  ██▓  ▒   ██▒░█░ █ ░█ ▒▓█  ▄░██▄▄▄▄██░ ▓██▓ ░   ▒   ██▒
# ░▒▓███▀▒░██▓ ▒██▒░▒████▒░▒▓███▀▒▒██████▒▒░░██▒██▓ ░▒████▒▓█   ▓██▒ ▒██▒ ░ ▒██████▒▒
#  ░▒   ▒ ░ ▒▓ ░▒▓░░░ ▒░ ░ ░▒   ▒ ▒ ▒▓▒ ▒ ░░ ▓░▒ ▒  ░░ ▒░ ░▒▒   ▓▒█░ ▒ ░░   ▒ ▒▓▒ ▒ ░
#   ░   ░   ░▒ ░ ▒░ ░ ░  ░  ░   ░ ░ ░▒  ░ ░  ▒ ░ ░   ░ ░  ░ ▒   ▒▒ ░   ░    ░ ░▒  ░ ░
# ░ ░   ░   ░░   ░    ░   ░ ░   ░ ░  ░  ░    ░   ░     ░    ░   ▒    ░      ░  ░  ░  
#       ░    ░        ░  ░      ░       ░      ░       ░  ░     ░  ░              ░  
                                                                                   




#  _______  ______    _______  _______    _______  _     _  _______  _______  _______  _______ 
# |       ||    _ |  |       ||       |  |       || | _ | ||       ||   _   ||       ||       |
# |    ___||   | ||  |    ___||    ___|  |  _____|| || || ||    ___||  |_|  ||_     _||  _____|
# |   | __ |   |_||_ |   |___ |   | __   | |_____ |       ||   |___ |       |  |   |  | |_____ 
# |   ||  ||    __  ||    ___||   ||  |  |_____  ||       ||    ___||       |  |   |  |_____  |
# |   |_| ||   |  | ||   |___ |   |_| |   _____| ||   _   ||   |___ |   _   |  |   |   _____| |
# |_______||___|  |_||_______||_______|  |_______||__| |__||_______||__| |__|  |___|  |_______|





#  ▄▄ • ▄▄▄  ▄▄▄ . ▄▄ •     .▄▄ · ▄▄▌ ▐ ▄▌▄▄▄ . ▄▄▄· ▄▄▄▄▄.▄▄ · 
# ▐█ ▀ ▪▀▄ █·▀▄.▀·▐█ ▀ ▪    ▐█ ▀. ██· █▌▐█▀▄.▀·▐█ ▀█ •██  ▐█ ▀. 
# ▄█ ▀█▄▐▀▀▄ ▐▀▀▪▄▄█ ▀█▄    ▄▀▀▀█▄██▪▐█▐▐▌▐▀▀▪▄▄█▀▀█  ▐█.▪▄▀▀▀█▄
# ▐█▄▪▐█▐█•█▌▐█▄▄▌▐█▄▪▐█    ▐█▄▪▐█▐█▌██▐█▌▐█▄▄▌▐█ ▪▐▌ ▐█▌·▐█▄▪▐█
# ·▀▀▀▀ .▀  ▀ ▀▀▀ ·▀▀▀▀      ▀▀▀▀  ▀▀▀▀ ▀▪ ▀▀▀  ▀  ▀  ▀▀▀  ▀▀▀▀ 


#     ,gg,                                             ,gg,                                                        
#    i8""8i                                           i8""8i                                         I8            
#    `8,,8'                                           `8,,8'                                         I8            
#     `Y88aaad8                                        `88'                                       88888888         
#      d8""""Y8,                                       dP"8,                                         I8            
#     ,8P     8b  ,gggggg,   ,ggg,     ,gggg,gg       dP' `8a  gg    gg    gg   ,ggg,     ,gggg,gg   I8     ,g,    
#     dP      Y8  dP""""8I  i8" "8i   dP"  "Y8I      dP'   `Yb I8    I8    88bgi8" "8i   dP"  "Y8I   I8    ,8'8,   
# _ ,dP'      I8 ,8'    8I  I8, ,8I  i8'    ,8I  _ ,dP'     I8 I8    I8    8I  I8, ,8I  i8'    ,8I  ,I8,  ,8'  Yb  
# "888,,_____,dP,dP     Y8, `YbadP' ,d8,   ,d8I  "888,,____,dP,d8,  ,d8,  ,8I  `YbadP' ,d8,   ,d8b,,d88b,,8'_   8) 
# a8P"Y888888P" 8P      `Y8888P"Y888P"Y8888P"888 a8P"Y88888P" P""Y88P""Y88P"  888P"Y888P"Y8888P"`Y88P""Y8P' "YY8P8P
#                                          ,d8I'                                                                   
#                                        ,dP'8I                                                                    
#                                       ,8"  8I                                                                    
#                                       I8   8I                                                                    
#                                       `8, ,8I                                                                    
#                                        `Y8P"                                                                     





# Font Name: Bloody
#   ▄████  ██▀███  ▓█████   ▄████      ██████  █     █░▓█████ ▄▄▄     ▄▄▄█████▓  ██████ 
#  ██▒ ▀█▒▓██ ▒ ██▒▓█   ▀  ██▒ ▀█▒   ▒██    ▒ ▓█░ █ ░█░▓█   ▀▒████▄   ▓  ██▒ ▓▒▒██    ▒ 
# ▒██░▄▄▄░▓██ ░▄█ ▒▒███   ▒██░▄▄▄░   ░ ▓██▄   ▒█░ █ ░█ ▒███  ▒██  ▀█▄ ▒ ▓██░ ▒░░ ▓██▄   
# ░▓█  ██▓▒██▀▀█▄  ▒▓█  ▄ ░▓█  ██▓     ▒   ██▒░█░ █ ░█ ▒▓█  ▄░██▄▄▄▄██░ ▓██▓ ░   ▒   ██▒
# ░▒▓███▀▒░██▓ ▒██▒░▒████▒░▒▓███▀▒   ▒██████▒▒░░██▒██▓ ░▒████▒▓█   ▓██▒ ▒██▒ ░ ▒██████▒▒
#  ░▒   ▒ ░ ▒▓ ░▒▓░░░ ▒░ ░ ░▒   ▒    ▒ ▒▓▒ ▒ ░░ ▓░▒ ▒  ░░ ▒░ ░▒▒   ▓▒█░ ▒ ░░   ▒ ▒▓▒ ▒ ░
#   ░   ░   ░▒ ░ ▒░ ░ ░  ░  ░   ░    ░ ░▒  ░ ░  ▒ ░ ░   ░ ░  ░ ▒   ▒▒ ░   ░    ░ ░▒  ░ ░
# ░ ░   ░   ░░   ░    ░   ░ ░   ░    ░  ░  ░    ░   ░     ░    ░   ▒    ░      ░  ░  ░  
#       ░    ░        ░  ░      ░          ░      ░       ░  ░     ░  ░              ░  
                                                                                      


# Font Name: ANSI Shadow
#  ██████╗ ██████╗ ███████╗ ██████╗     ███████╗██╗    ██╗███████╗ █████╗ ████████╗███████╗
# ██╔════╝ ██╔══██╗██╔════╝██╔════╝     ██╔════╝██║    ██║██╔════╝██╔══██╗╚══██╔══╝██╔════╝
# ██║  ███╗██████╔╝█████╗  ██║  ███╗    ███████╗██║ █╗ ██║█████╗  ███████║   ██║   ███████╗
# ██║   ██║██╔══██╗██╔══╝  ██║   ██║    ╚════██║██║███╗██║██╔══╝  ██╔══██║   ██║   ╚════██║
# ╚██████╔╝██║  ██║███████╗╚██████╔╝    ███████║╚███╔███╔╝███████╗██║  ██║   ██║   ███████║
#  ╚═════╝ ╚═╝  ╚═╝╚══════╝ ╚═════╝     ╚══════╝ ╚══╝╚══╝ ╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝
                                                                                         


#
# https://patorjk.com/software/taag/#p=testall&f=Bulbhead&t=Greg%20Sweats
#
.trunk/